* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

div.main-info {
    padding: 2.5rem 0;
    height: clamp(50vh, 120vh, 150vh);
    border-bottom: 1px solid gray;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:
        "about"
        "cards"
        "stats";

    .top {
        grid-area: about;
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr;
        grid-template-areas: "about yap";

        .left {
            grid-area: about;

            span {
                border: 1px solid rgb(168, 168, 168);
                padding: .3rem .5rem;
                border-radius: 25px;
            }
        }

        .right {
            grid-area: yap;
            font-size: 1.75rem;
        }
    }

    .mid {
        grid-area: cards;
        display: grid;
        gap: 2rem;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "card1 card2 card3";

        .card {
            border-radius: 25px;
            height: 100%;
            width: 100%;
            padding: 2.5rem 1.5rem 2.5rem 1.5rem;
        }

        .card1 {
            background-color: #0D1A2D;
            color: whitesmoke;
            grid-area: card1;
            display: flex;
            flex-direction: column;
            gap: 1.5em;

            i {
                font-size: 2.2em;
            }

            .yap {
                font-weight: 300;
                font-size: 1.8em;

                .col {
                    color: rgb(141, 141, 141);
                }
            }

            .game {
                display: flex;
                align-items: center;
                gap: 1rem;
                font-weight: 300;
                color: rgb(141, 141, 141);

                .gameon {
                    height: 30px;
                    width: 65px;
                    background-color: #2EB3FF;
                    border-radius: 25px;
                    position: relative;
                    z-index: 0;

                    span.btn {
                        position: absolute;
                        z-index: 1;
                        height: 75%;
                        width: 35%;
                        border-radius: 50%;
                        background-color: white;
                        left: 70%;
                        top: 50%;
                        transform: translate(-50%, -50%);

                        span.hollow {
                            height: 50%;
                            width: 50%;
                            border-radius: 50%;
                            background-color: #2EB3FF;
                            position: absolute;
                            z-index: 2;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }
        }

        .card2 {
            background: url(../../assets/images/side1.png);
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                font-size: 1.15em;
                font-weight: 400;
                color: whitesmoke;
                padding: 1rem 1.2rem;
                border-radius: 50px;
                background: linear-gradient(to bottom right, rgb(218, 218, 218), transparent);
                backdrop-filter: blur(2px);
            }
        }

        .card3 {
            padding: 1.5rem 1.5rem 1.5rem 1.5rem;
            background-color: #F6F8FC;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .ctop {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding-right: 3rem;

                .c3-head {
                    font-size: 4em;
                }

                .c3sechead {
                    font-size: 1.1em;
                    font-weight: 500;
                }

                p {
                    font-size: .9em;
                    font-weight: 300;
                }
            }

            .cbot {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-areas:
                    "beg"
                    "int"
                    "adv";
                gap: 1em;

                ul {
                    display: flex;
                    gap: 4px;
                    list-style-type: none;

                    li {
                        height: 15px;
                        width: 15px;
                        border-radius: 50%;
                        background-color: #2EB3FF;
                    }
                }

                .beginner {
                    grid-area: beg;
                    display: grid;
                    grid-template-columns: 3fr 6fr 1fr;
                    grid-template-rows: 1fr;
                    grid-template-areas: "beg begdots begpoints";

                    .txt {
                        grid-area: beg;
                    }

                    ul {
                        grid-area: begdots;
                    }

                    .points {
                        grid-area: begpoints;
                    }
                }

                .intermediate {
                    grid-area: int;
                    display: grid;
                    grid-template-columns: 3fr 6fr 1fr;
                    grid-template-rows: 1fr;
                    grid-template-areas: "int intdots intpoints";

                    .txt {
                        grid-area: int;
                    }

                    ul {
                        grid-area: intdots;
                    }

                    .points {
                        grid-area: intpoints;
                    }
                }

                .advanced {
                    grid-area: adv;
                    display: grid;
                    grid-template-columns: 3fr 6fr 1fr;
                    grid-template-rows: 1fr;
                    grid-template-areas: "adv advdots advpoints";

                    .txt {
                        grid-area: adv;
                    }

                    ul {
                        grid-area: advdots;
                    }

                    .points {
                        grid-area: advpoints;
                    }
                }
            }
        }
    }

    .bottom {
        padding-top: 1rem;
        grid-area: stats;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        .bot-para{
            text-align: center;
            font-size: 1.7em;
            font-weight: 300;
        }
        .bot-stats{
            padding: 0 3.5rem;
            padding-bottom: 4rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            div{
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: .5rem;
                span{
                    font-weight: 500;
                    font-size: 3rem;
                }
                p{
                    font-weight: 300;
                }
            }
        }
    }

}