* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

div.s3-main {
    width: 100%;
    padding: 3.5rem 0;
    display: flex;
    align-items: center;

    .cards {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        .c1 {
            display: flex;
            flex-direction: column;
            gap: 4rem;

            .c1-top {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                span {
                    width: fit-content;
                    border: 1px solid rgb(182, 182, 182);
                    font-size: 1.1em;
                    padding: .3em .5em;
                    border-radius: 20px;
                }

                p {
                    font-size: 2rem;
                }
            }

            .c1-bot {
                .explorebtn {
                    width: fit-content;
                    background-color: #0E1B2D;
                    padding: .7em 1em;
                    border-radius: 20px;
                    color: whitesmoke;
                    display: flex;
                    gap: 5px;

                    a {
                        text-decoration: none;
                        color: whitesmoke;
                    }

                    i {
                        display: inline-block;
                        transition: all .3s;
                    }
                }

                .explorebtn:hover i {
                    transform: rotate(45deg);
                }
            }
        }

        .c2 {
            background-image: url(../../assets/images/side2.png);
            background-position: center;
            background-size: cover;
            border-radius: 40px;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .c2-top {
                span {
                    padding: .7rem 1.2rem;
                    border-radius: 20px;
                    color: rgb(255, 255, 255);
                    background: linear-gradient(to bottom right, white, transparent);
                    backdrop-filter: blur(3px);
                }
            }

            .c2-bot {
                color: whitesmoke;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .bot-para {
                    font-size: 1.2rem;
                    width: 60%;
                }

                .arrow {
                    padding: .8rem 1rem;
                    background-color: black;
                    border-radius: 50%;
                }
            }
        }

        .c3 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .bg-top {
                color: white;
                height: 65%;
                background-image: url(../../assets/images/side3.png);
                background-position: center;
                background-size: cover;
                border-radius: 40px;
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                span:nth-child(1) {
                    width: fit-content;
                    padding: .7rem 1.2rem;
                    border-radius: 20px;
                    color: rgb(255, 255, 255);
                    background: linear-gradient(to bottom right, white, transparent);
                    backdrop-filter: blur(3px);
                }

                span:nth-child(2) {
                    font-size: 1.3rem;
                }
            }

            .c3-bot {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .bot-para {
                    width: 55%;
                    font-size: 1.2rem;
                }
            }

            .arrows {
                display: flex;
                gap: 5px;
                .arro {
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    border: .1px solid rgb(176, 176, 176);
                    transition: all .4s;
                }
                .arro:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}