* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --default-font-size: 16px;
}

div#navigation-bar {
    padding: 0 0 1.5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
    }

    .heading {
        font-weight: 500;
        font-size: 1.65rem;

        a {
            color: black;
        }
    }

    nav {
        
        .nav-list {
            font-size: 1.2rem;
            padding: .5rem .5rem;
            font-size: var(--default-font-size);
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 3.5em;

            a {
                color: black;
                font-weight: 400;
            }
            li{
                padding: .3rem .6rem;
                border-radius: 20px;
            }
            li:hover{
                outline: 1.5px solid rgb(169, 169, 169)
            }
        }
    }

    .book{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0D1A2D;
        padding: .7rem 1.4rem;
        border-radius: 25px;
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            gap: 5px;
            a{
                color: white;
                font-weight: 300;
            }
            i{
                font-size: 1.2rem;
                transition: all .25s;
            }
        }
    }
    .book:hover i{
        transform: rotate(43deg);
    }
}